:root {
    --jumbotron-padding-y: 3rem;
}

h1, h2, h3, h4, h5, h6, label, span {
    font-weight: 500;
    font-family: 'Fira Sans', sans-serif;
}

form {
    width: 400px;
    margin-top: 40px;
    margin-left: 38%;
}

.jumbotron {
    padding-top: var(--jumbotron-padding-y);
    padding-bottom: var(--jumbotron-padding-y);
    margin-bottom: 0;
    background-color: #fff !important;
    background-image: url('./black.png');
    background-repeat: repeat;
    color: #fff;
    height: 20%;
}

#UncontrolledDropdown {
    color: white;
    background-color: transparent;
    float: left;
    margin-top: -40px;
    margin-right: 20px;
}

#UncontrolledDropdown * {
    color: white;
    background-color: transparent;
    border-color: white;
    float: left;
    margin-left: 3px;
}

.jumbotron>.cont {
    height: 300px;
}

@media (min-width: 768px) {
    .jumbotron {
        padding-top: calc(var(--jumbotron-padding-y) * 2);
        padding-bottom: calc(var(--jumbotron-padding-y) * 2);
    }
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    font-weight: 300;
}

.jumbotron .container {
    max-width: 40rem;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer p {
    margin-bottom: 0.25rem;
}

.box-shadow {
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}